<form class="f-form f-form--contact">
  <div class="f-form__inputs">
    <input 
      type="text" 
      name="name" 
      class="f-form__input"
      placeholder="*Name" 
      required
    >
    <input 
      type="email" 
      name="email" 
      class="f-form__input" 
      placeholder="*Your Email Address" 
      required
    >
  </div>
  <textarea 
    name="message" 
    class="f-form__textarea" 
    placeholder="*Your Message" 
    required></textarea>
  <button type="submit" class="f-form__button c-btn c-btn--primary">Submit</button>
</form>