<div class="t-content t-content--slide">
  <p>
    "Arkenea thinks outside the box and offer solutions through the creative proccess of developing apps. They care about their customers."
  </p>

  <p>
    <span class="u-font-bold">Hypnotherapist and Best Selling Author</span><br>
    <span class="u-text-uppercase">- Glenn Harrold</span>
  </p>
</div>