<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      {% include "./slide.twig"%}
    </div>

    <div class="swiper-slide">
      {% include "./slide.twig"%}
    </div>

    <div class="swiper-slide">
      {% include "./slide.twig"%}
    </div>

  </div>
  <div class="swiper-pagination"></div>
</div>