<footer class="l-footer">
    <div class="l-inner l-footer__inner">
        <div class="l-footer__copyright t-content t-content--footer">
            <p>
                <span class="u-text-uppercase">&copy; 2015 Arkenea. </span>All rights reserved.
            </p>
        </div>
        
        <div class="l-footer__author t-content t-content--footer">
            <p>
                Designer - Prashant Dwivedi | 
                <span class="u-text-uppercase">
                Made with <i class="fas fa-heart u-paint-pink-1"></i> in India.
                </span>
            </p>
        </div>
    </div>
</footer>
