<div class="l-home-content">
  <div class="l-inner l-home-content__inner">
    <header class="t-header">
      <h1 class="t-head t-head--h1">
        Technical cofounders <br>
        to your mobile & <br>
        web startup
      </h1>
    </header>

    <div class="t-content t-content--homepage">
      <p>
        To build a successful app, you need a smart <br> 
        product strategy, engaging UX, killer designs <br> 
        and a talented mobile development team.
      </p>
      <p>
        <span class="u-font-bold u-text-uppercase">Good news</span> - You've come to the right place.
      </p>
    </div>

    <form class="f-form f-form--request">
      <input 
        class="f-form__input" 
        type="email" 
        name="email" 
        placeholder="*Your Email Address" 
        required
      >
      <button class="f-form__button c-btn--primary" type="submit">Request a Quote</button>
    </form>
  </div>
</div>