.l-grid-wrapper {
    width: 100%;
}

.l-grid {
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    display: flex;
}

@for $i from 1 through 12 {
    .l-grid__item-#{$i} {
        width: 100% / 12 * $i;
    }
}


@each $name, $value in $breakpoints {
    @include media("<=#{$name}") {
        @for $i from 1 through 12 {
            .l-grid__item-#{$i}\@#{$name} {
                width: 100% / 12 * $i;
            }
        }
    }
}

/* Modificators
========================================================================== */
.l-grid--equal-heights {
    align-items: stretch;

    & > .l-grid__item {
        & > * {
            height: 100%;
        }
    }
}
